- if @errors
  .errors
    %p #{pluralize((@errors.count), "error")} prohibited this team from being saved
    %ul
    - @errors.each do |message|
      %li.error= message

.new-team-form
  = form_for(@team) do |f|
    = f.label "Choose team leaders:"
    .member-check-boxes
      = f.collection_check_boxes(:leader_ids, @members, :id, :name)

    .team-name
      = f.label "Name:"
      = f.text_field :name

    .team-number
      = f.label "Number:"
      = f.text_field :number

      = f.label "Team Members:"
    .member-check-boxes
      = f.collection_check_boxes(:member_ids, @members, :id, :name)

    .form-actions
      = f.submit "Save"

      .cancel-button
        = link_to "Cancel", teams_admins_path
