%h2 Edit Team

- if @errors
  .errors
    %p #{pluralize((@errors.count), "error")} prohibited this team from being saved
    %ul
    - @errors.each do |message|
      %li.error= message

= form_for(@team) do |f|
  %p
    = f.label "name"
    = f.text_field :name
  %p
    = f.label "number"
    = f.text_field :number

  %br
  %p
    = f.label "Team Members"
    .add-team-member
      = link_to "Add team member", new_team_member_path
    %p Add leader
    %br
    = f.fields_for :team_members do |t|
      = link_to "remove", team_member_path(member_id: t.object), method: :delete
      = t.collection_select :member_id, Member.order(:first_name), :id, :name

    .form-action= f.submit "Update"


= link_to "Back", :back

%br
%br
%br
