.section-title
  %h3 My Teams
-if current_member.admin?
  .add-team-link
    %h5= link_to "Team Management", teams_admins_path


- if @teams.nil?
  .header-info-placeholder
    %h5 You have not been assigned to a team. Please contact co-chairs!
- else
  - @teams.each do |team|
    .team-members
      %ul
        %h3.team-name Team #{team.number}

        - team.members.order(:first_name).each do |member|
          .member-circle
            - if team.leaders.include?(member)
              %li= link_to "#{member.first_name}*", member_path(member.id)
            -else
              %li= link_to member.first_name, member_path(member.id)

    .upcoming-events
      %h4 Team #{team.number}'s upcoming events
      - if team.events.upcoming_events.order(:date).empty?
        %p.info-placeholder
          No upcoming events
      - else
        = render partial: "shared/card", locals: { events: team.events.upcoming_events.order(:date) }

    .past-events
      %h4 Team #{team.number}'s past events
      - if team.events.past_events.empty?
        %p.info-placeholder
          No past events
      - else
        - team.events.past_events.each do |event|
          %ul
            %li= link_to "#{event.date_in_words}", event_path(event)
