%h2 New Team

- if @errors
  .errors
    %p #{pluralize((@errors.count), "error")} prohibited this team from being saved
    %ul
    - @errors.each do |message|
      %li.error= message

= form_for(@team) do |f|
  %p
    = f.label "name"
    = f.text_field :name
  %p
    = f.label "number"
    = f.text_field :number

    = f.label "Team Members"
  .member-check-boxes
    = f.collection_check_boxes(:member_ids, Member.all.order(:first_name), :id, :name)


  .team-form-action= f.submit "Create"


= link_to "Back", :back
