%h4 Team #{@my_team.number} info
%br
%ul
  %h5 Members
  -@my_team.members.each do |member|
    - if member.leader?
      %li= link_to "#{member.name} (leader)", member_path(member.id)
    - else
      %li= link_to "#{member.name}", member_path(member.id)
%br
%h4 Upcoming events
- if @my_team.events.empty?
  %p No upcoming events
-else
  .cards
    - @my_team.events.each do |event|
      - if event.date > Date.today
        .card
          .card-header
            %p= event.date_in_words || "No date"
          .card-copy
            %p= "Team: #{event.team.number}"
            -if event.team.leaders.count > 1
              %p= "Team Leaders: #{event.team.leader_names}"
            -else
              %p= "Team Leader: #{event.team.leader_names}"
            %p= "Hosted at: #{event.location}"
            %p= "This is event: event id is #{event.id}"
          .card-stats
            %ul
              %li
                =link_to "Add to inventory", event_inventories_path(event)
              %li
                =event.inventories.count
                %span Total Products
%br
%h5 Special announcements
%br
%h5 leave notes
