.vendor-display
  %h2= "Team #{@team.number}"

%ul
  %h5 Members
  -@team.members.each do |member|
    - if member.leader?
      %li= link_to "#{member.name} (leader)", member_path(member.id)
    - else
      %li= link_to "#{member.name}", member_path(member.id)
%br
%h4 Upcoming events
.cards
  - @team.events.each do |event|
    - if event.date >= Date.today
      .card
        .card-header
          %p= event.date_in_words || "No date"
        .card-copy
          %p= "Team: #{event.team.number}"
          -if event.team.leaders.count > 1
            %p= "Team Leaders: #{event.team.leader_names}"
          -else
            %p= "Team Leader: #{event.team.leader_names}"
          %p= "Hosted at: #{event.location}"
          %p= "This is event: event id is #{event.id}"
        .card-stats
          %ul
            %li
              =link_to "Go to event", event_products_path(event)
            %li
              =event.products.count
              %span Total Products
.past-events
  %h5 Past Events
  - @team.events.each do |event|
    - if event.date < Date.today
      %ul
        %li= link_to "#{event.date_in_words}", event_path(event)
