.vendor-display
  %h2= "Team #{@team.number}"

%ul
  %h5 Members
  -@team.members.each do |member|
    - if member.leader?
      %li= link_to "#{member.name} (leader)", member_path(member.id)
    - else
      %li= link_to "#{member.name}", member_path(member.id)
%br
%h4 Upcoming events
= render partial: "shared/card", locals: { events: @team.events }

.past-events
  %h5 Past Events
  - @team.events.each do |event|
    - if event.date < Date.today
      %ul
        %li= link_to "#{event.date_in_words}", event_path(event)
