-if @inventories.empty?
  %h4 No products have been added for this shop yet
  %p= link_to "Back to all events", events_path
  %p Start adding products
-else

  %h3= "Order for Shop on #{@inventories.first.event.date_in_words}"
  / if current_member is on the Team responsible for this shop.... show edit
  .edit_link
    %li= link_to "add product", new_event_inventory_path
  %table{:cellpadding => "0", :cellspacing => "0"}
    %tbody
      %tr
        %th Vendor
        %th Product Name
        %th Price / Unit
        / %th Total Qunatity
        %th Actions
      - @products.each do |product|
        %tr
          %td= link_to "#{product.vendor.name}", vendor_path(product.vendor)
          %td= product.name
          %td= "#{humanized_money_with_symbol(product.price)} / #{product.unit_type}"
          / %td= link_to "edit", event_event_product_path(@event.id, product)
          %td= link_to "edit", edit_event_inventory_path(@event, product)
