-if @products.empty?
  %h4 No products have been added for this shop yet
  %p= link_to "Back to all events", events_path
  %p= link_to "Start adding products", new_event_inventory_path
-else

  %h3= "Inventory for Shop on #{@event.date_in_words}"
  %br
  %p= "Number of items in cart: #{@shopping_cart.cart_items.count}"
  %p= link_to "View shopping cart", event_shopping_cart_cart_items_path(@event, @shopping_cart)
  %h5 Shopping cart is #{@shopping_cart.id}
  .edit_link
    %li= link_to "Add Product", new_event_inventory_path
  - @products.each_pair do |vendor, products|
    %table{:cellpadding => "0", :cellspacing => "0"}
      %tbody.hover-table
        %br
        %h5= vendor.name
        %tr
          %th Vendor
          %th Product Name
          %th Price / Unit
          %th Actions
          -products.each do |product|
            %tr
            %td= link_to "#{product.vendor.name}", vendor_path(product.vendor)
            %td= product.name
            %td= "#{humanized_money_with_symbol(product.price)} / #{product.unit_type}"
            %td
              %ul
                %li= link_to "edit", edit_event_inventory_path(@event, product)
                %li= link_to "Add new cart item to cart", edit_event_shopping_cart_cart_item_path(@event, @shopping_cart, product) # needs product
