.create-new-member-form
  .form-header
    %h2 Edit Password
  = form_for(resource, as: resource_name, url: member_registration_path(resource_name), html: { method: :patch }) do |f|
    = devise_error_messages!
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    %div
      = f.label "New password"
      = f.password_field :password, autocomplete: "off"
    %div
      = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: "off"
    %div
      = f.label :current_password
      %i (we need your current password to confirm your changes)
      = f.password_field :current_password, autocomplete: "off"
      .form-action
        = f.submit "Save"

        %button.cancel
          = link_to "Cancel", root_path

