.form-header
  %h2 Edit Member

- if @errors
  .errors
    %p #{pluralize((@errors.count), "error")} prohibited member from being saved
    %ul
    - @errors.each do |message|
      %li.error= message

.create-new-member-form
  %h5.required-fields Required fields *

  = form_for(@member, url: admin_member_update_member_path(admin_id: current_member.id, member_id: @member.id))  do |f|
    %p.first-name-input
      = f.label "First name*"
      = f.text_field :first_name

    %p.last-name-input
      = f.label "Last name*"
      = f.text_field :last_name

    %p.email-input
      = f.label "Email*"
      = f.text_field :email

    %p.phone-input
      = f.label "Phone"
      = f.text_field :phone

    %p.street-input
      = f.label "Street address"
      = f.text_field :street_address

    %p.unit-input
      = f.label "Unit number"
      = f.text_field :unit_number

    %p.city-input
      = f.label "City"
      = f.text_field :city

    %p.state-input
      = f.label "State"
      = f.select(:state, Carmen::Country.named("United States").subregions.select { |s| s.type == "state" }.map { |state| [state.name, state.code] }, selected: "IL")

    %p.zip-input
      = f.label "Zip"
      = f.text_field :zip

    .team-form-action
      = f.submit "Save"

      %button.cancel
        = link_to "Cancel", members_path
