%h2 Admin page
%h6 Manage all aspects of the Lincoln Park Coop from this dashboard. Create an event, add new members, organize teams. If there are any features missing they can easily be added.

.grid-items-lines
  .grid-item
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png"}/
    %h1 Members
    %p= link_to "See all members", members_path
    %p= link_to "Add new member", new_member_path
  .grid-item
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png"}/
    %h1 Teams
    %p= link_to "Manage teams", teams_admins_path
  .grid-item
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png"}/
    %h1 Events
    %p= link_to "See all events", events_path
    %p= link_to "Create new event", new_event_path
  .grid-item
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png"}/
    %h1 Vendors
    %p= link_to "See all vendors", vendors_path
    %p= link_to "Add new vendor", new_vendor_path
  .grid-item
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png"}/
    %h1 Products
    %p= link_to "See all products", products_admins_path
    %p Search through a history of all purchased products


  .right-cover
  .bottom-cover
