.section-title
  %h3 All Teams

.add-link
  %h5= link_to "+ Add team", new_team_path

-if @teams.empty?
  %h4 There are no teams! Create some.
-else
  -@teams.each do |team|
    .team-members
      %ul
        .team-header
          %h3.team-name= link_to "Team #{team.number}", team_path(team)
          .edit-link= link_to "Edit", edit_team_path(team)

        -team.members.order(:first_name).each do |member|
          .member-circle
            %li= link_to "#{member.format_name_with_leader}", member_path(member.id)

