.section-title
  %h3 Team Management

.add-team-link
  %h5= link_to "+ Create Team", new_team_path

-if @teams.empty?
  .header-info-placeholder
    %h5
      There are no teams. Create some!
-else
  -@teams.each do |team|
    .team-members
      %ul
        .team-header
          %h3.team-name= link_to "Team #{team.number}", team_path(team)
          .edit-link= link_to "Edit", edit_team_path(team)

        -team.members.order(:first_name).each do |member|
          .member-circle
            - if team.leaders.include?(member)
              %li= link_to "#{member.first_name}*", member_path(member.id)
            -else
              %li= link_to member.first_name, member_path(member.id)
