SEARCHING?

.shopping-cart-table
  - @products.each do |product|
    %table{:cellpadding => "0", :cellspacing => "0"}
      %tbody.hover-table
        %br
        %p
        .vendor-name= product.vendor.name
        %tr
          %th
          %th Product Name
          %th Price / Unit
          %th Amount


          %tr
            %td
            %td= product.name
            %td= "#{humanized_money_with_symbol(product.price)} / #{product.unit_type}"
            %td
              = form_for @cart_item, url: add_to_cart_event_shopping_carts_path(@event, product_id: product.id), method: :post, remote: true do |f|
                = f.text_field :amount
                = f.submit "Add to cart"
