.section-title
  %h3
    Shopping cart history for event on
    = @event.date

%p= "There are #{@past_carts.count} past shopping carts"
%ul
  - @past_carts.each do |cart|
    %ol= link_to "#{cart.member.name}", shopping_cart_path(cart)
