-if   @event.date != Date.today
  %h4 This shop isn't live!

-else
  %h3= "Shop  #{@event.date_in_words}"
  =link_to "Back to event page", events_path
  %br
  %br
  .cart-count
    %h4= link_to "My cart: ", event_shopping_cart_cart_items_path(@event, @shopping_cart)
    .badges
      %span.badge.error #{@shopping_cart.cart_items.count}

  .shopping-cart-table
    - @products.each do |vendor, products|
      %table{:cellpadding => "0", :cellspacing => "0"}
        %tbody.hover-table
          %br
          %p
          .vendor-name= vendor.name
          %tr
            %th
            %th Product Name
            %th Price / Unit
            %th Amount
            %th Actions
          - products.each do |product|
            = form_for @cart_item, url: add_to_cart_event_shopping_carts_path(@event, product_id: product.id), method: :post do |f|
              %tr.cart-item-display
                %td
                %td= product.name
                %td= "#{humanized_money_with_symbol(product.price)} / #{product.unit_type}"
                %td
                  = f.text_field :amount
                %td.cart-actions
                  = f.submit "Add to cart"
