.cards
  - events.each do |event|
    - if event.date >= Date.today
      .card
        .card-header
          %p= event.date_in_words || "No date"
          - if current_member.admin?
            .edit-event-link
              %p= link_to "edit", edit_event_path(event)
        .card-copy
          %p= "Team: #{event.team.number}"
          = render partial: "shared/leader_display", locals: { event: event }
          %p= "Hosted at: #{event.location}"
        .card-stats
          %ul
            -if current_member.on_team?(event.team)
              %li
                =link_to "+ Add products", event_products_path(event)
            -else
              %li
                =link_to "View products", event_products_path(event)
            %li
              %span= "#{event.products.count} Total Products"
