
.new-event-form
  - if @errors
    .errors
      %p #{pluralize((@errors.count), "error")} prohibited this event from being saved
      %ul
      - @errors.each do |message|
        %li.error= message

  = form_for(@event) do |f|
    %p.date-input
      = f.label "Date"
      = f.date_field :date

    %p.team-leader-input
      = f.label "Team"
      .team-leader-names
        = f.collection_radio_buttons(:team_id, Team.all, :id, :team_with_name_and_number, { include_blank: true } )
    %p
      = f.label "Location (Street address, city, state, zip)"
      = f.text_field :location

    .form-action
      = f.submit "Save"
      %button.cancel
        = link_to "Cancel", events_path
