.new-event-form
  - if @errors
    .errors
      %p #{pluralize((@errors.count), "error")} prohibited this event from being saved
      %ul
      - @errors.each do |message|
        %li.error= message

  = form_for(@event) do |f|
    %p
      = f.label "Date"
      = f.date_field :date

    %p
      = f.label "Team (choose by leader)"
      = f.collection_select(:team_id, Team.all, :id, :leader_names, { include_blank: true } )

    %p
      = f.label "Location"
      = f.select(:location, Member.all.map(&:address), { include_blank: true } )

    .form-action= f.submit "Save"

    %br
    - if @event.persisted?
      %button.form-action-delete= link_to "DELETE event", event_path(@event), method: :delete, data: { confirm: "Are you sure you want to delete this event?" }

    = link_to "Cancel", :back
