.centered-container
  .section-title
    %h3 Edit Event
  = render "form"

-if @products.present?
  .product-table
    %table{:cellpadding => "0", :cellspacing => "0"}
      %thead.hover-table
        %tr
          %th Vendor
          %th Product Name
          %th Price / Unit
          %th Amount
          %th Product total price
      %tbody
        - @products.each do |product|
          %tr
            %td= product.vendor.name
            %td= product.name
            %td= "#{humanized_money_with_symbol(product.price)} / #{product.unit_type}"
            %td= product.total_amount_purchased
            %td= "#{humanized_money_with_symbol(product.total_inventory_price)}"

.delete
  %h5 Deleting an event will delete all products.
  %p Please be careful when choosing to delete an event.
  .cancel-button
    = link_to "Delete event", event_path(@event), method: :delete, data: { confirm: "Are you sure you want to delete this event?" }
