.section-title
  %h3 Events

- if current_member.admin?
  .add-event-link
    %button
      %h5= link_to "New event", new_event_path

- if @today_event.present?
  .today-event
    %h2 Today's event!
    %br
    %p= "Hosted by: #{@today_event.team.team_member_names}"
    %p= "Location: #{@today_event.location}"
    %button
      .shop-now
        %h4= link_to "Shop Now!", event_shopping_carts_path(@today_event)


%h4 Upcoming events

- if @events.empty?
  %p No upcoming events

.cards
  - @upcoming_events.each do |event|
    .card
      .card-header
        %p= event.date_in_words || "No date"
        - if current_member.admin?
          .edit-event-link
            %p= link_to "edit", edit_event_path(event)
      .card-copy
        .event-number-display
          %h5= link_to "Team #{event.team.number}", team_path(event.team)
        .event-location-display
          %p= "Location: #{event.location}"
      .card-stats
        %ul
          -if current_member.on_team?(event.team)
            %li
              =link_to "Add products", event_products_path(event)
          -else
            %li
              =link_to "View products", event_products_path(event)
          %li
            =event.products.count
            %span Total Products

.past-events
  %h5 Past Events
  - @past_events.each do |event|
    - if event.date < Date.today
      %ul
        %li= link_to "#{event.date_in_words}", event_path(event)
