%h2 Shopping Events this Season
.edit_link= link_to "Create new event", new_event_path
.cards
  -@events.each do |event|
    .card
      / .card-image
      /   %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png"}/
      .card-header
        %p=event.date_in_words
      .card-copy
        %p="Team: #{event.team.number}"
        %p="Team Leader(s): #{event.team.leaders.map(&:member).map(&:name)}"
        %p="Hosted at: #{event.location}"
        %p="This is event: event id is #{event.id}"
      .card-stats
        %ul
          %li
            =link_to "Inventory", event_inventories_path(event)
          %li
            =link_to "My order", event_shopping_carts_path(event)
          %li
            =event.inventory.count
            %span Total Products
