- if @today_event.present?
  .today-event
    %h2 Today's event!
    %br
    %p= "Hosted by: #{@today_event.team.team_member_names}"
    %p= "Location: #{@today_event.location}"
    %button
      .shop-now
        %h4= link_to "Shop Now!", event_shopping_carts_path(@today_event)

- if current_member.admin?
  .add-event-link
    %button
      %h5= link_to "New event", new_event_path

  #ajax-form

%br

%h4 Upcoming events

- if @events.empty?
  %p No upcoming events
-else
  .cards
    - @upcoming_events.each do |event|
      .card
        .card-header
          %p= event.date_in_words || "No date"
          - if current_member.admin?
            %p= link_to "edit", edit_event_path(event)
        .card-copy
          %p= "Team #{event.team.number}"
          -if event.team.leaders.count > 1
            %p= "Team Leaders: #{event.team.leader_names}"
          -else
            %p= "Team Leader: #{event.team.leader_names}"
          %p= "Hosted at: #{event.location}"
        .card-stats
          %ul
            %li
              =link_to "Event products", event_products_path(event)
            %li
              =event.products.count
              %span Total Products
        .card-image
          %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}


.past-events
  %h5 Past Events
  - @past_events.each do |event|
    - if event.date < Date.today
      %ul
        %li= link_to "#{event.date_in_words}"

/ }

/ event : {
/   date: ,
/   id:
/   team: {
/     number: ,
/     leaders: {
/       count: 2
/     },
/     leader_names : ""
/   },
/   location: ""
/   products: []

