.today-event
  - if @today_event.present?
    %h1 Today's event!
    %br
    %h4= "Hosted by: #{@today_event.team.team_member_names}"
    %h5= "Location: #{@today_event.location}"
    .shop-now
      %h3= link_to "Shop Now", event_shopping_carts_path(@today_event)

%h4 Upcoming events
-if current_member.admin?
  .edit_link= link_to "Create new event", new_event_path

- if Event.all.empty?
  %p No upcoming events
-else
  .cards
    - @upcoming_events.each do |event|
      .card
        .card-header
          %p= event.date_in_words || "No date"
          %p= link_to "edit", edit_event_path(event)
        .card-copy
          %p= "Team: #{event.team.number}"
          -if event.team.leaders.count > 1
            %p= "Team Leaders: #{event.team.leader_names}"
          -else
            %p= "Team Leader: #{event.team.leader_names}"
          %p= "Hosted at: #{event.location}"
          %p= "This is event: event id is #{event.id}"
        .card-stats
          %ul
            %li
              =link_to "Event products", event_products_path(event)
              %br
              =event.products.count
              %span Total Products
              %br

.past-events
  %h5 Past Events
  - @past_events.each do |event|
    - if event.date < Date.today
      %ul
        %li= link_to "#{event.date_in_words}", event_products_path(event, event.products.first) || "No date"
