- if @today_event.present?
  .section-title
  .today-event
    %h3 TODAY'S EVENT

    .cards
      .card
        .card-header
          %p= @today_event.date_in_words || "No date"
          - if current_member.admin?
            .edit-event-link
              %p= link_to "edit", edit_event_path(@today_event)
        .card-copy
          %p= "Team: #{@today_event.team.number}"
          = render partial: "shared/leader_display", locals: { event: @today_event }
          %p= "Hosted at: #{@today_event.location}"
        .card-stats
          %ul
            %li
              =link_to "Shop now", event_shopping_carts_path(@today_event)
            %li
              %span= "#{@today_event.products.count} Total Products"

.event-picture
  .corner-picture

- if current_member.admin?
  .add-link
    %h5= link_to "+ New event", new_event_path


%h5 Upcoming events
- if @upcoming_events.empty?
  %p.info-placeholder
    No upcoming events


= render partial: "shared/card", locals: { events: @upcoming_events }


%h5 Past Events
- if @past_events.empty?
  %p.info-placeholder
    No past events
-else
  - @past_events.each do |event|
    - if event.date < Date.today
      %ul
        %li= link_to "#{event.date_in_words}", event_path(event)
