.section-title
  %h3= "Event on #{@event.date_in_words}"

-if current_member.admin?
  .add-vendor-link
    %h5
      =link_to "Edit", edit_event_path(@event)


  %p= link_to "Price sheet history", history_event_shopping_carts_path(@event)


%h4= "Hosted by Team #{@event.team.number}"
%p= @event.team.team_member_names


%h5 Location
%p= @event.location


-if @event.products.present?
  .product-table
    - @products.each do |vendor, products|
      %table
        %tbody.hover-table
          %tr
            %th.product-name= vendor.name
            %th.product-amount Amount
            %th.total-price Total Price
            %th.edit
            - products.each do |product|
              %tr
              %td
                = "#{product.name} .... "
                %span.price= "#{humanized_money_with_symbol(product.price)} / #{product.unit_type}"
              %td= product.total_amount_purchased
              %td= "#{humanized_money_with_symbol(product.total_inventory_price)}"
-else
  .centered-container
    %h4 This event had no products
