- if @errors
  .errors
    %p #{pluralize((@errors.count), "error")} prohibited this vendor from being saved
    %ul
    - @errors.each do |message|
      %li.error= message

= form_for(@vendor) do |f|
  %p
    = f.label "Vendor name*"
    = f.text_field :name
  %p
    = f.label "Representative name"
    = f.text_field :rep
  %p
    = f.label "Food category"
    = f.text_field :category
  %p
    = f.label "Address"
    = f.text_field :address
  %p
    = f.label "Payment type"
    = f.text_field :payment

  .form-action= f.submit "Save"

  %br
  - if @vendor.persisted?
    %button.form-action-delete= link_to "DELETE vendor", vendor_path(@vendor), method: :delete, data: { confirm: "Are you sure you want to delete this vendor?" }

%br
= link_to "Back", :back
