.add-vendor-link
  %button
    %h5= link_to "Add Vendor", new_vendor_path

.breadcrumbs
  %h5= link_to "Go back", :back

.section-title
  %h3 Vendors

.vendor-table
  %article
    %table{ cellspacing: "0", cellpadding: "0"}
      %tbody
        %tr
          %th Name
          %th Rep
          %th Category
          %th Phone
          %th Address
          %th Payment Method

      - @vendors.each do |vendor|
        %tr
          %td= link_to("#{vendor.name}", vendor_path(vendor))
          %td= vendor.rep
          %td= vendor.category
          %td= vendor.phone
          %td= vendor.address
          %td= vendor.payment
