.section-title
  %h3 Vendors

.add-link
  %h5= link_to "+ Add Vendor", new_vendor_path
  %h5.archives-link= link_to "View Archived Vendors", archives_admin_vendors_path(admin_id: current_member.id)

%table.table-minimal
  %thead
    %tr
      %th Name
      %th Rep
      %th Phone
      %th Email
      %th
  %tbody
    - @vendors.each do |vendor|
      %tr
      %td= vendor.name
      %td= vendor.rep
      %td= vendor.phone
      %td= vendor.email
      %td= link_to "more info", vendor_path(vendor)
