%h2= @vendor.name

.vendor_info
%h4 Contact information
%p= @vendor.rep
%p= @vendor.category
%p= @vendor.address
%p= @vendor.payment

%table{ cellspacing: "0", cellpadding: "0"}
  %tbody
    %tr
      %th Product Name
      %th Description
      %th Price

  - @vendor_products.each do |product|
    %tr
      %td= product.name
      %td= product.description
      %td= product.price
