=link_to "Back to vendor page", vendors_path

.edit-vendor
  %button
    =link_to "Edit", edit_vendor_path(@vendor)

.vendor-display
  %h2= @vendor.name

  .vendor-category
    %h4= @vendor.category


  %h4 Contact information
  %p= @vendor.rep || "No representative name"
  %p= @vendor.category
  %p= @vendor.phone
  %p= @vendor.address
  %p= @vendor.payment

  -if @vendor_products.present?
    %table{ cellspacing: "0", cellpadding: "0"}
      %tbody
        %tr
          %th Product Name
          %th Price
          %th Unit

        - @vendor_products.each do |product|
          %tr
            %td= product.name
            %td= product.price
            %td= product.unit_type
  -else
    .no-products
      %h5 No products for this vendor
