.vendor-display
  %h2= @vendor.name
  .vendor-category
    %h4= @vendor.category

.add-link
  %h5= link_to "Edit", edit_vendor_path(@vendor)
  - if current_member.admin?
    - if @vendor.active?
      %h5.archives-link= link_to "Archive Vendor", admin_vendor_archive_vendor_path(admin_id: current_member.id, vendor_id: @vendor.id), method: :patch, data: { confirm: "Archiving a vendor means they will not be listed ad an option when adding products to events. Are you sure you want to archive #{@vendor.name}?" }
    - elsif @vendor.archived?
      %h5.archives-link= link_to "Activate Vendor", admin_vendor_activate_vendor_path(admin_id: current_member.id, vendor_id: @vendor.id), method: :patch

%h4 Contact information
%p= "Name: #{@vendor.rep}" || "No representative name"
%p= "Category: #{@vendor.category}"
%p= "Phone: #{@vendor.phone}"
%p= "Email: #{@vendor.email}"
%p= "Address: #{@vendor.address}"
%p= "Payment preference: #{@vendor.payment}"

%h4 Notes
%p= @vendor.notes

%br
%h4 Vendor products from past shops
-if @vendor_products.present?
  %table{ cellspacing: "0", cellpadding: "0"}
    %tbody
      %tr
        %th Product Name
        %th Price
        %th Unit

      - @vendor_products.each do |product|
        %tr
          %td= product.name
          %td= product.price
          %td= product.unit_type
-else
  .no-products
    %h5 No products
