%h2= @vendor.name
%h6= @vendor.category
.vendor_info
%h4 Contact information
%p= @vendor.rep
%p= @vendor.category
%p= @vendor.address
%p= @vendor.payment

%table{ cellspacing: "0", cellpadding: "0"}
  %tbody
    %tr
      %th Product Name
      %th Price
      %th Unit

  - @vendor_products.each do |product|
    %tr
      %td= product.name
      %td= product.price
      %td= product.unit_type
