.welcome
  %h3 LINCOLN
  %h1 CO-OP
  %h3 PARK

  .sign-in-form
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-field
        = f.label :email
        = f.email_field :email, autofocus: true
      .form-field
        = f.label :password
        = f.password_field :password, autocomplete: "off"
      - if devise_mapping.rememberable?
        .form-field
          = f.label :remember_me do
            = f.check_box :remember_me
            Remember Me
      .form-actions= f.submit "Log in"
    = render "devise/shared/links"
