%h4 Current shopping cart!

%p= link_to "Back to inventory", event_inventories_path(@event)

%table{:cellpadding => "0", :cellspacing => "0"}
  %tbody
    %tr
      %th Product name
      %th price / unit
      %th amount
      %th total
    - @shopping_cart.cart_items.map do |cart_item|
      %tr
        %td= cart_item.product.name
        %td= "#{humanized_money_with_symbol(cart_item.product.price)} / #{cart_item.product.unit_type}"
        %td
          =text_field(:cart_item, :amount)
        %td= "#{humanized_money_with_symbol(cart_item.price_cents_cents)}"
    %h3
      %th Total cost
      %th
      %th
      %th= @shopping_cart.total_cents
