%h4= "#{current_member.first_name}'s cart"
%br

%p= link_to "Back to event products", event_shopping_carts_path(@event)

- if @sorted_cart_items.empty?
  %h3 No items in cart yet!
-else
  .shopping-cart-table
    %table{:cellpadding => "0", :cellspacing => "0"}
      %tbody
        %tr
          %th Product name
          %th Price / Unit
          %th Amount
          %th Total
          %th Update
        - @sorted_cart_items.each do |cart_item|
          = form_for cart_item, url: event_shopping_cart_cart_item_path(@event, @shopping_cart, cart_item), method: :patch do |f|
            %tr.cart-item-display
              %td= cart_item.product.name
              %td= "#{humanized_money_with_symbol(cart_item.product.price)} / #{cart_item.product.unit_type}"
              %td
                = f.text_field :amount
              %td= humanized_money_with_symbol(cart_item.calculate_sub_total_price)
              %td.cart-actions
                = f.submit "Update"
                = link_to "Remove", event_shopping_cart_cart_item_path(@event, @shopping_cart, cart_item), data: { confirm: "Remove item from cart?" }, method: :delete

        %tr.tax-box
          %th Pre-tax
          %th
          %th
          %th= humanized_money_with_symbol(@shopping_cart.sub_total_price)
          %th
        %tr
          %th Tax
          %th
          %th (0.0225)
          %th= "+ #{humanized_money_with_symbol(@shopping_cart.tax)}"
          %th
        %tr.cart-total
          %th Cart total
          %th
          %th
          %th= humanized_money_with_symbol(@shopping_cart.total)
          %th
