%h4= "#{current_member.first_name}'s cart item index (shopping cart)"
%br

%p= link_to "Back to inventory", event_inventories_path(@event)

%table{:cellpadding => "0", :cellspacing => "0"}
  %tbody
    %tr
      %th Product name
      %th Price / Unit
      %th Amount
      %th Total
      %th Update
    - @sorted_cart_items.each do |cart_item|
      = form_for cart_item, url: event_shopping_cart_cart_item_path(@event, @shopping_cart, cart_item), method: :patch do |f|
        %tr.cart-item-display
          %td= cart_item.product.name
          %td= "#{humanized_money_with_symbol(cart_item.product.price)} / #{cart_item.product.unit_type}"
          %td
            = f.text_field :amount
          %td= humanized_money_with_symbol(cart_item.calculate_sub_total_price)
          %td
            = f.submit "Update"
            = link_to "delete", event_shopping_cart_cart_item_path(@event, @shopping_cart, cart_item), data: { confirm: "Remove item from cart?" }, method: :delete
          / # %td= link_to "update", event_shopping_cart_cart_item_path(@event, @shopping_cart, cart_item), method: :put
    %h3
      %th Cart total
      %th
      %th
      %th= humanized_money_with_symbol(@shopping_cart.calculate_total_price)
      %th
