.section-title
  %h3= "#{current_member.first_name}'s dashboard"
  %p You are an admin! You can manage all aspects of the Lincoln Park Coop from this dashboard: create and modify members, teams, events, and vendors from this page.

.flex-boxes
  .flex-box{:href => "javascript:void(0)"}
    %h1.flex-title= link_to "Members", members_path
    %p See list of all members: contact information and team activity
  .flex-box{:href => "javascript:void(0)"}
    %h1.flex-title= link_to "My Team", teams_path
    %p Your personal team activity: Team information, upcoming and past events
  .flex-box{:href => "javascript:void(0)"}
    %h1.flex-title= link_to "Events", events_path
    %p See all upcoming events. Come back when a shop is live!
  .flex-box{:href => "javascript:void(0)"}
    %h1.flex-title= link_to "Vendors", vendors_path
    %p See list of all vendors: contact information, and past products
  .flex-box{:href => "javascript:void(0)"}
    %h1.flex-title Shopping Carts
    %p= link_to "Shopping cart history", shopping_cart_history_path
    %p Search through a history of all purchased products
  .flex-box{:href => "javascript:void(0)"}
    %h1.flex-title Account settings
    %p= link_to "Update account info", edit_account_path
    %p= link_to "Change your password", edit_member_registration_path


  .right-cover
  .bottom-cover
