.section-title
  %h3= "#{current_member.first_name}'s dashboard"
  %h6 You are an admin! You can manage all aspects of the Lincoln Park Coop from this dashboard: create and modify members, teams, events and vendors from this page.

.grid-items-lines
  .grid-item
    %h1= link_to "Members", members_path
    %p See list of all members: contact information and team activity
    %p.admin-link= link_to "Add new member", new_member_path
  .grid-item
    %h1= link_to "My Teams", teams_path
    %p Your personal team activity: Team information, upcoming and past events
    %p.admin-link= link_to "Manage teams", teams_admins_path
  .grid-item
    %h1= link_to "Events", events_path
    %p See all upcoming events. Come back when a shop is live!
    %p.admin-link= link_to "Create new event", new_event_path
  .grid-item
    %h1= link_to "Vendors", vendors_path
    %p See list of all vendors: contact information, and past products
    %p.admin-link= link_to "Add new vendor", new_vendor_path
  .grid-item
    %h1 CHANGE
    %p= link_to "See all products", products_admins_path
    %p Search through a history of all purchased products
  .grid-item
    %h1 Account settings
    %p= link_to "Update account info", edit_member_path(current_member)
    %p= link_to "Change your password", edit_member_registration_path


  .right-cover
  .bottom-cover

%i.admin-link * Admin stuff
