.section-title
  %h3= "#{current_member.first_name}'s dashboard"
%h6 Manage personal responsibilities here!

.grid-items-lines
  .grid-item
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png"}/
    %h1= link_to "Members", members_path
    %p See list of all members: contact information and team activity
  .grid-item
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png"}/
    %h1= link_to "My Teams", teams_path
    %p Your personal team activity: Team information, upcoming and past events
  .grid-item
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png"}/
    %h1= link_to "Events", events_path
    %p See all upcoming events. Come back when a shop is live!
  .grid-item
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png"}/
    %h1= link_to "Vendors", vendors_path
    %p See list of all vendors: contact information, and past products
  .grid-item
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png"}/
    %h1 Shopping Carts
    %p= link_to "Shopping cart history", shopping_cart_history_path
    %p Search through a history of all purchased products
  .grid-item
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png"}/
    %h1 Account settings
    %p= link_to "Update account info", edit_account_path
    %p= link_to "Change your password", edit_member_registration_path

  .right-cover
  .bottom-cover
