- if @errors
  .errors
    %p #{pluralize((@errors.count), "error")} prohibited this product from being saved
    %ul
    - @errors.each do |message|
      %li.error= message

.vertical-product-form
  = form_for([@event, @product]) do |f|
    .vendor
      = f.label "Vendor"
      = f.collection_select(:vendor_id, Vendor.all.order(:name), :id, :name)
    .product-name
      = f.label "Name"
      = f.text_field :name
    .product-price
      = f.label "Price"
      = f.text_field :price
    .product-unit
      = f.label "Unit"
      = f.select(:unit_type, Product.uniq.pluck(:unit_type))
    .product-amount
      = f.label "Amount"
      = f.text_field :total_amount_purchased
    .actions
      = f.button "Clear", type: "reset", class: "cancel"
      = f.submit "Save"
