-if @products.empty?
  %h4 No products have been added for this shop yet
  %p= link_to "Back to all events", events_path
  %p= link_to "Start adding products", new_event_product_path

-else

  %p= link_to "Back to all events", events_path
  .index-headers
    %h3= "Product's for shop"
    %h4 on
    %h4= "#{@event.date_in_words}"

  .add-product-link
    %button
      / %h5= link_to "Add Product", new_event_product_path

  =render partial: "form", locals: { event: @event }

  .product-table
    - @products.each do |vendor, products|
      %table{:cellpadding => "0", :cellspacing => "0"}
        %tbody.hover-table
          %br
          %p
          .vendor-name= vendor.name
          %tr
            %th
            %th Product Name
            %th Price / Unit
            %th Amount
            %th Total Price of Inventory
            %th Actions
            - products.each do |product|
              %tr
              %td
              %td= product.name
              %td= "#{humanized_money_with_symbol(product.price)} / #{product.unit_type}"
              %td= product.total_amount_purchased
              %td= "#{humanized_money_with_symbol(product.total_inventory_price)}"
              %td
                %ul
                  %li= link_to "Edit", edit_event_product_path(@event, product)
