%h2 Products for Event.... whatever

%table{:cellpadding => "0", :cellspacing => "0"}
  %tbody
    %tr
      %th Product Name
      %th Description
      %th Price
      %th Vendor
      %th Event date
      %th Actions
    - @event_products.each do |product|
      %tr
        %td= product.name
        %td= product.description
        %td= number_to_currency(product.price)
        %td= link_to "#{product.vendor.name}", vendor_path(product.vendor)
        %td= @event_date
        %td= link_to "view", event_product_path(:id)
