!!!
%html
  %head
    %meta{ content: "width=device-width, initial-scale=1", name: "viewport" }
    / %link{:href => "http://fonts.googleapis.com/css?family=Niconne", :rel => "stylesheet", :type => "text/css"}
    / %link{:href =>'http://fonts.googleapis.com/css?family=Hind|Josefin+Slab', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href =>'http://fonts.googleapis.com/css?family=Hind|PT+Mono|Old+Standard+TT', :rel => 'stylesheet', :type => 'text/css'}
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
    %title Coop

  %body{class: "#{controller_name.dasherize}-controller #{action_name.dasherize}-action"}
    %section#header
      = render "layouts/header"

    %section#content
      .centered-container
        = yield

    %footer#footer
      .container

    = javascript_include_tag "application"
    = jskit

    :javascript
      setTimeout(function() {
        $(".notifications").fadeOut();
      }, 2000);
