!!!
%html
  %head
    %meta{ content: "width=device-width, initial-scale=1", name: "viewport" }
    %link{:href => 'http://fonts.googleapis.com/css?family=Source+Serif+Pro', :rel => 'stylesheet', :type =>'text/css' }
    %link{:href => 'http://fonts.googleapis.com/css?family=Open+Sans:400', :rel => 'stylesheet', :type =>'text/css' }
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
    %title Coop

  %body{class: "#{controller_name.dasherize}-controller #{action_name.dasherize}-action"}
    %section#header
      = render "layouts/header"
      #notifications
        - if notice || alert
          .notifications
            - if notice
              .notice
                %p= notice
            - if alert
              .alert
                %p= alert

    %section#content
      .centered-container
        = yield

    %footer#footer
      .container

    = javascript_include_tag "application"
    = jskit
