.section-title
  %h3 MEMBERS

- if current_member.admin?
  .add-member-link
    %h5= link_to "Add New Member", new_member_path


%table.table-minimal
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Email
      %th Phone
      %th

  %tbody
    -@members.each do |member|
      %tr
      %td= member.first_name
      - if member.leader? == true
        %td= "#{member.last_name} (leader)"
      - else
        %td= member.last_name
      %td= member.email
      %td= member.phone
      %td
        %p= link_to "more info", member_path(member)
