- if current_member.admin?
  .add-member-link
    %button
      %h5= link_to "Add New Member", new_member_path

%h2 Members of LPC

%table.table-minimal
  %thead
    %tr
      %th Last Name
      %th First Name
      %th Email
      %th

  %tbody
    -@members.each do |member|
      %tr
      - if member.leader?
        %td= "#{member.last_name} (leader)"
      - else
        %td= member.last_name
      %td= member.first_name
      %td= member.email
      %td
        %p= link_to "more info", member_path(member)
