%h2 Members of LPC
.edit_link
  %li= link_to "Add New Member", new_member_path, remote: true
%table.table-minimal
  %thead
    %tr
      %th Last Name
      %th First Name
      %th Email
      %th

  %tbody
    -@members.each do |member|
      %tr
      - if member.leader?
        %td= "#{member.last_name} (leader)"
      - else
        %td= member.last_name
      %td= member.first_name
      %td= member.email
      %td
        %p= link_to "more info", member_path(member)
