.section-title
  %h3 New Member

- if @errors
  .errors
    %p #{pluralize((@errors.count), "error")} prohibited member from being saved
    %ul
    - @errors.each do |message|
      %li.error= message

.member-form
  %h5.required-fields Required fields *

  = form_for @member, url: create_member_path  do |f|
    = render partial: "form", locals: { f: f }

    .form-actions
      = f.submit "Save"
      .cancel-button
        = link_to "Cancel", members_path
