-if current_member.admin?
  .edit-vendor-link
    %button
      =link_to "Edit member", edit_member_path(@member)
.breadcrumbs
  %h5= link_to "Back to all members", members_path

.vendor-display
  %h2= @member.name

%h4 Contact
%p= "Email: #{@member.email}"
%p= "Phone: #{@member.phone}"
%p= "Address: #{@member.address}"

%h4 Team info
-@member.teams.each do |team|
  %p= "Team #{team.number}"
  %p= "leader: #{team.leader_names}"
  %p= "Members: #{team.team_member_names}"

  -if current_member.admin?
    %p= link_to "Edit team", edit_team_path(team)
  %br

-if current_member.admin?
  %h4= link_to "Member shopping cart history", shopping_cart_history_path



  %br
  %br
  %br
  %br
  Statistics?
