.vendor-display
  %h2= @member.first_name
  .vendor-category
    %h4= @member.last_name

- if current_member.id.to_s == params[:id]
  .add-link
    %h5= link_to "Edit", member_edit_account_path(member_id: current_member.id)
- if current_member.admin? && @member != current_member
  .add-link
    %h5= link_to "Edit", admin_member_edit_member_path(admin_id: current_member.id, member_id: @member.id)
    - if @member.active? && @member != current_member
      %h5.archives-link= link_to "Archive Member", admin_member_archive_member_path(admin_id: current_member.id, member_id: @member.id), method: :patch, data: { confirm: "Archiving a member removes them from all teams and upcoming events. Are you sure you want to archive #{@member.name}?" }
    - elsif @member.archived?
      %h5.archives-link= link_to "Activate Member", admin_member_activate_member_path(admin_id: current_member.id, member_id: @member.id), method: :patch

%h4 Contact
%p= "Email: #{@member.email}"
%p= "Phone: #{@member.phone}"
%p= "Address: #{@member.address}"

.team-info
  - unless @member.substitute? # sub handling
    %h4 Team info
    - if @member.teams.empty? && current_member.admin?
      %p= link_to "+ Add to team", teams_admins_path
    - elsif @member.teams.empty?
      %p.info-placeholder
        Member has not been assigned to a team.
    - else
      - @member.teams.each do |team|
        .team-members
          %ul
            %p Team #{team.number}

            - team.members.order(:first_name).each do |member|
              .member-circle
                - if team.leaders.include?(member)
                  %li= link_to "#{member.first_name}*", member_path(member.id)
                -else
                  %li= link_to member.first_name, member_path(member.id)

.cart-history
  - if current_member == @member || current_member.admin?
    %h4 Shopping cart history
    -if @member.shopping_carts.empty?
      %p.info-placeholder
        No previous carts to display at this time.
    -else
      - @member.shopping_carts.each do |cart|
        %p= link_to "#{cart.event.date_in_words}", shopping_cart_path(id: cart.id)
