%h2= @member.name
=link_to "Edit member", edit_member_path(@member)
/ ### styling
%br
%p= "Email: #{@member.email}"
%p= "Phone: #{@member.phone}"
%p= "Address: #{@member.address}"


%b Coming soon....
%p general info...
%p member since...


